<div class="game-list-container">
  <h2>Game List</h2>


  <input type="text" [(ngModel)]="gameTitle" placeholder="Enter game title">
  <input type="text" [(ngModel)]="gameGenre" placeholder="Enter game genre">
  <input type="text" [(ngModel)]="gamePlatform" placeholder="Enter game platform">


  <button (click)="addGame()">Add Game</button>


  <input type="text" [(ngModel)]="searchTerm" placeholder="Search games" (input)="filterGames()">


  <button (click)="clearAll()">Clear All</button>


  <ul>
    <li *ngFor="let game of filteredGames">
      {{ game.title }} - {{ game.genre }} - {{ game.platform }}
      <button (click)="removeGame(game)">Remove</button>
    </li>
  </ul>
</div>
