<div class="container">
  <h2> Tour Dates</h2>

  <input type="text" [(ngModel)]="newCity" class="input-field" placeholder="Enter city name">
  <input type="date" [(ngModel)]="newDate" class="input-field">

  <div class="button-group">
    <button class="btn-add" (click)="addTourDate()">Add Tour Date</button>
  </div>

  <input type="text" [(ngModel)]="searchKeyword" class="input-field" placeholder="Search city...">

  <ul class="tour-list">
    <li class="tour-item" *ngFor="let tour of getFilteredTourDates(); let i = index">
      <span>{{ tour.city }} - {{ tour.date }}</span>
      <button class="btn-remove" (click)="removeTourDate(i)">Remove</button>
    </li>
  </ul>
</div>
