<div class="nav-container">
  <div class="nav-bar">
    <a routerLink="student-list">1. Student List</a>
    <a routerLink="employee-list">2. Employee List</a>
    <a routerLink="fruit-list">3. Fruit List</a>
    <a routerLink="course-list">4. Course List</a>
    <a routerLink="city-list">5. City List</a>
    <a routerLink="book-list">6. Book-List</a>
    <a routerLink="movie-list">7. Movie List</a>
    <a routerLink="car-model-list">8. Car Model List</a>
    <a routerLink="product-list">9. Product List</a>
    <a routerLink="subject-list">10. Subject List</a>
    <a routerLink="country-list">11. Country List</a>
    <a routerLink="sports-list">12. Sports List</a>
    <a routerLink="vegetable-list">13. Vegetable List</a>
    <a routerLink="animal-list">14. Animal List</a>
    <a routerLink="tool-list">15. Tool List</a>
    <a routerLink="language-list">16. Language List</a>
    <a routerLink="game-list">17. Game List</a>
    <a routerLink="software-list">18. Software List</a>
    <a routerLink="phone-contact-list">19. Phone Contact List</a>
    <a routerLink="music-playlist">20. Music Playlist</a>
    <a routerLink="food-menu-list">21. Food Menu List</a>
    <a routerLink="grocery-list">22. Grocery List</a>
    <a routerLink="classroom-list">23. Classroom List</a>
    <a routerLink="inventory-list">24. Inventory List</a>
    <a routerLink="lecture-list">25. Lecture List</a>
    <a routerLink="stationery-list">26. Stationery List</a>
    <a routerLink="flower-list">27. Flower List</a>
    <a routerLink="destination-list">28. Destination List</a>
    <a routerLink="laptop-list">29. Laptop List</a>
    <a routerLink="laptop-specifications-list">30. Laptop Specifications List</a>
    <a routerLink="computer-hardware-list">31. Computer Hardware List</a>
    <a routerLink="mobile-app-list">32. Mobile App List</a>
    <a routerLink="video-list">33. Video List</a>
    <a routerLink="tv-show-list">34. TV Show List</a>
    <a routerLink="furniture-list">35. Furniture List</a>
    <a routerLink="accessory-list">36. Accessory List</a>
    <a routerLink="building-list">37. Building List</a>
    <a routerLink="painting-list">38.Painting List</a>
    <a routerLink="artist-list">39. Artist List</a>
    <a routerLink="composer-list">40. Composer List</a>
    <a routerLink="podcast-list">41. Podcast List</a>
    <a routerLink="exercise-list">42. Exercise List</a>
    <a routerLink="meal-plan-list">43. Meal Plan List</a>
    <a routerLink="budget-list">44. Budget List</a>
    <a routerLink="presentation-list">45. Presentation List</a>
    <a routerLink=" tour-list">46. Tour List</a>
    <a routerLink="event-list">47. Event List</a>
    <a routerLink="developer-tools-list">48. Developer Tools List</a>
    <a routerLink="framework-list">49. Framework List</a>
    <a routerLink="library-list">50. Library List</a>
  </div>
</div>
<router-outlet></router-outlet>
