.sports-list-container {
  background-color: #f0f8ff;
  border: 2px solid #3f51b5;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #3f51b5;
  text-align: center;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #3f51b5;
  border-radius: 4px;
}

button {
  background-color: #3f51b5;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #303f9f;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e3f2fd;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.remove-button {
  background-color: #e92e3e;
  width: auto;
  padding: 5px 10px;
  margin-left: 10px;
}

.remove-button:hover {
  background-color: #e26d77;
}
