<div class="container">
  <h2>Workout Routine</h2>


  <input
    type="text"
    [(ngModel)]="newExerciseName"
    placeholder="Exercise name"
    class="input-field"
  />
  <input
    type="number"
    [(ngModel)]="newExerciseQuantity"
    placeholder="Quantity (sets/reps)"
    class="input-field"
  />

  <button (click)="addExercise()" class="btn-add">Add Exercise</button>


  <ul class="exercise-list">
    <li *ngFor="let exercise of exerciseList; let i = index" class="exercise-item">
      {{ exercise.name }} - {{ exercise.quantity }}
      <button (click)="removeExercise(i)" class="btn-remove">Remove</button>
    </li>
  </ul>


  <button (click)="clearAllExercises()" class="btn-clear">Clear All</button>
</div>
