.building-list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-location, .input-building, .search-bar {
  width: calc(100% - 100px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-btn, .remove-btn, .clear-btn {
  padding: 10px 15px;
  margin-right: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-btn:hover, .remove-btn:hover, .clear-btn:hover {
  background-color: #218838;
}

.building-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.building-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.remove-btn {
  background-color: #dc3545;
}

.clear-btn {
  display: block;
  width:20%;
  margin-top: 1px;
  background-color: #ffc107;
}

.clear-btn:hover {
  background-color: #e0a800;
}
